body{
    animation-name: pozadina;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
@keyframes pozadina{
    from {background-color: #b3b3ff;}
    to {background-color: #8080ff;}
}
#playB {
    position: fixed;
    top: 40%;
    left: 45%;
    padding: 2.5%;
    font-size: 40px;
    border: none;
    cursor: pointer;
    background: transparent;
    border: solid 2px black;
    color: white;
    font-weight: bold;
    border-radius: 25%;
}
#playB:focus {
    outline:0;
}
#herc{
    position: fixed;
    top: 20%;
    left: 65%;
    height: auto;
    width: 4%;
    transform: rotate(45deg);
}
#karo{
    position: fixed;
    top: 65%;
    left: 30%;
    height: auto;
    width: 4%;
    transform: rotate(48deg);
}
#pik{
    position: fixed;
    top: 20%;
    left: 35%;
    height: auto;
    width: 4%;
    transform: rotate(-38deg);
}
#zvezda{
    position: fixed;
    top: 65%;
    left: 65%;
    height: auto;
    width: 4%;
    transform: rotate(10deg);
}
